In [1]:
import numpy as np
import pandas as pd
import gc

In [2]:
seasons = list(range(2011,2020))

df = None

for s in seasons:
    path = './output/{}_boxscores.csv'.format(str(s))
    _df = pd.read_csv(path)
    
    if df is not None:
        df = pd.concat([df,_df],axis=0)
    else:
        df = _df
        
print(len(df))

df = df.drop(columns=['away_ranking','home_ranking'])

102617

In [3]:
all_teams = list(set(list(df['winning_name'].values)+list(df['losing_name'].values)))
print(all_teams[:15])

teams = []
for t in all_teams:
    if '\n\t\t\t' not in t:
        teams.append(t)
        
print(len(teams))
print(teams[:15])

['Bryan\n\t\t\t', 'Ohio State', 'Holy Cross (IN)\n\t\t\t', 'Texas-Tyler\n\t\t\t', 'Greenville\n\t\t\t', 'West Virginia', 'Samford', 'Mesa State\n\t\t\t', 'Notre Dame', 'Texas', 'Ouachita\n\t\t\t', 'Farmingdale State\n\t\t\t', 'Tennessee Wesleyan\n\t\t\t', 'Hannibal-LaGrange\n\t\t\t', 'Hardin-Simmons\n\t\t\t']
355
['Ohio State', 'West Virginia', 'Samford', 'Notre Dame', 'Texas', 'Hampton', 'Citadel', 'Utah', 'Bryant', 'Oral Roberts', 'San Diego State', 'Duke', 'Michigan State', 'Baylor', 'UNC']

In [4]:
def add_season(df):
    # datetime
    df['date'] = pd.to_datetime(df['date'])
    
    df['month'] = df['date'].copy().dt.month.astype(int)
    df['year'] = df['date'].copy().dt.year.astype(int)
    df['season'] = df['year'].copy()
    df['season'] = np.where(df['month']>9, df['season']+1, df['season'])
    
    df = df.drop(columns=['month','year'])
    
    return df

df = add_season(df)

## Features

Time span types
- EWA season
- RA season
- EWA last 5 seasons

Box score feats
- offensive rating
- defensive rating
- pct of points from FTs
- pct of points from 2Pts
- pct of points form 3Pts
- offensive rebound rate
- defensive rebound rate
- pace
- turnover rate
- win pct

*Both for team and opponent

In [5]:
# game ids
def add_ids(df):
    df['wn_copy'] = df['winning_name'].str.replace('\n\t\t\t','').str.replace(' ','').str.lower()
    df['ln_copy'] = df['losing_name'].str.replace('\n\t\t\t','').str.replace(' ','').str.lower()
    
    df['wn_copy2'] = df['wn_copy'].str[:3]
    df['wn_copy3'] = df['wn_copy'].str[-3:]
    
    df['ln_copy2'] = df['ln_copy'].str[:3]
    df['ln_copy3'] = df['ln_copy'].str[-3:]
    
    df['game_id'] = df['date'].dt.strftime('%m%d%y') + df['wn_copy2'] + df['wn_copy3'] + df['ln_copy2']  + df['ln_copy3']
    
#     old = len(df)
    df = df.drop_duplicates(subset=['game_id'])
#     new = len(df)
    # 53184
    
#     print("Successfully dropped {} duplicate box scores".format(old-new))
    
    df = df.drop(columns=['wn_copy2','ln_copy2','wn_copy3','ln_copy3'])
    
    df['team1_id'] = df['season'].astype(str)+df['wn_copy']
    df['team2_id'] = df['season'].astype(str)+df['ln_copy']
    
    df['alt1_id'] = df['wn_copy']
    df['alt2_id'] = df['ln_copy']
    
    df2 = df.copy()
    
    df = df.drop(columns=['team1_id'])
    df2 = df2.drop(columns=['team2_id'])
    df = df.drop(columns=['alt1_id'])
    df2 = df2.drop(columns=['alt2_id'])
    
    df = df.rename(columns={'team2_id':'team_id','alt2_id':'alt_id'})
    df2 = df2.rename(columns={'team1_id':'team_id','alt1_id':'alt_id'})
    
    df = pd.concat([df,df2],axis=0)
    
    df['home_id'] = np.where(df['winner']=='Home', df['season'].astype(str)+df['wn_copy'], df['season'].astype(str)+df['ln_copy'])
    df['away_id'] = np.where(df['winner']=='Away', df['season'].astype(str)+df['wn_copy'], df['season'].astype(str)+df['ln_copy'])
    
    df['win_id'] = df['season'].astype(str)+df['wn_copy']
    df['lose_id'] = df['season'].astype(str)+df['ln_copy']
    
    df = df.drop(columns=['wn_copy','ln_copy'])
    
    print(len(df))
    #106,368
    
    return df

df = add_ids(df)

df[['home_id','away_id','alt_id']].head()

106368

        home_id                       away_id                    alt_id
0  2011airforce  2011colorado-coloradosprings  colorado-coloradosprings
1  2011airforce           2011coloradocollege                  airforce
2  2011airforce            2011tennesseestate            tennesseestate
3   2011wofford                  2011airforce                   wofford
4  2011airforce        2011calstatenorthridge        calstatenorthridge

In [6]:
# need team-specific ratings leading up to game
# opponent ratings will be harder
home_games = df.loc[df['home_id']==df['team_id']]
away_games = df.loc[df['away_id']==df['team_id']]

del df
gc.collect()

83

In [7]:
# change column names
old_cols = list(home_games)
home_cols = []

for oc in old_cols:
    if 'away_' in oc:
        hc = oc.replace('away_','opp_')
    elif 'home_' in oc:
        hc = oc.replace('home_','')
    else:
        hc = oc
    home_cols.append(hc)
    
# opposite for away_cols
away_cols = []

for oc in old_cols:
    if 'home_' in oc:
        ac = oc.replace('home_','opp_')
    elif 'away_' in oc:
        ac = oc.replace('away_','')
    else:
        ac = oc
    away_cols.append(ac)
    
home_games.columns=home_cols
away_games.columns=away_cols

col_order = list(away_games)
home_games = home_games[col_order]

df = pd.concat([home_games,away_games], axis=0)

# already have this column
df = df.drop(columns=['team_id'])

del home_games
del away_games
gc.collect()

14

In [8]:
# cols ready for running averages
dcols = ['offensive_rating','defensive_rating','opp_offensive_rating','opp_defensive_rating','pace']

# cols needed for feature creation
ncols = ['free_throws','two_point_field_goals','three_point_field_goals',
         'offensive_rebounds','defensive_rebounds','opp_offensive_rebounds','opp_defensive_rebounds',
         'turnovers',
         'wins','losses']

# cols necessary to keep 
nncols = ['date','id','alt_id','opp_id','game_id','season','win_id','lose_id','points','opp_points']

cols = nncols+dcols+ncols

old_num_cols = len(list(df))
df = df[cols]
new_num_cols = len(list(df))

print("Dropped {} unnecessary columns".format(old_num_cols-new_num_cols))

Dropped 66 unnecessary columns

In [9]:
df.head()

,date,id,alt_id,opp_id,game_id,season,win_id,lose_id,points,opp_points,...,free_throws,two_point_field_goals,three_point_field_goals,offensive_rebounds,defensive_rebounds,opp_offensive_rebounds,opp_defensive_rebounds,turnovers,wins,losses
1,2010-11-17,2011airforce,airforce,2011coloradocollege,111710colegeairrce,2011,2011coloradocollege,2011airforce,57,60,...,16,16.0,3.0,5,30,10,26,16,1,1
3,2010-11-24,2011wofford,wofford,2011airforce,112410airrcewoford,2011,2011airforce,2011wofford,66,72,...,12,15.0,8.0,21,24,2,21,18,2,4
15,2011-01-15,2011airforce,airforce,2011unlv,011511unlnlvairrce,2011,2011unlv,2011airforce,52,64,...,12,11.0,6.0,4,20,9,27,9,10,6
19,2011-01-29,2011tcu,tcu,2011airforce,012911airrcetcutcu,2011,2011airforce,2011tcu,65,66,...,7,17.0,8.0,10,26,3,22,14,10,13
20,2011-02-01,2011airforce,airforce,2011newmexico,020111newicoairrce,2011,2011newmexico,2011airforce,61,75,...,7,18.0,6.0,4,14,9,17,16,12,9

In [10]:
# let's do season by season first
# easy first
gb = df.groupby(['season','alt_id'])['offensive_rating','defensive_rating','pace'].mean().reset_index()

gb[['ORtg','DRtg','Pace']] = gb.groupby(['alt_id'])['offensive_rating','defensive_rating','pace'].shift()

gb = gb.dropna()

def team_ewm(team, span=5, alpha=0.85):
    feature_ewm = team.rolling(window=span, min_periods=1).mean()[:span]
    rest = team[span:]
    return pd.concat([feature_ewm, rest]).ewm(alpha=alpha, adjust=False).mean()


gb[['5y_ORtg','5y_DRtg','5y_Pace']] = gb.groupby(['alt_id'])['ORtg','DRtg','Pace'].transform(team_ewm)

gb['id'] = gb['season'].astype(str)+gb['alt_id']

gb = gb[['id','5y_ORtg','5y_DRtg','5y_Pace']]

gb.head()

                         id     5y_ORtg     5y_DRtg    5y_Pace
607            2012airforce  101.381250  101.918750  63.278125
608               2012akron  100.638889   94.333333  68.527778
609             2012alabama   99.029730   88.462162  67.016216
610  2012alabama-birmingham  103.645161   94.329032  64.551613
611          2012alabamaa&m   87.492857   90.900000  73.457143

In [11]:
# now we have 3/10 features. rest will require extra step

gb2 = df.groupby(['season','alt_id'])['free_throws','two_point_field_goals','three_point_field_goals','offensive_rebounds','defensive_rebounds','opp_offensive_rebounds','opp_defensive_rebounds','turnovers','wins','losses','pace'].sum().reset_index()

gb2[['fts','2pt','3pt','oreb','dreb','oor','odr','tos','w','l','pace']] = gb2.groupby(['alt_id'])['free_throws','two_point_field_goals','three_point_field_goals','offensive_rebounds','defensive_rebounds','opp_offensive_rebounds','opp_defensive_rebounds','turnovers','wins','losses','pace'].shift()

gb2 = gb2.dropna()

# extra step
gb2['dra'] = gb2['dreb'] + gb2['oor']

# offensive rebounds available
gb2['ora'] = gb2['oreb'] + gb2['odr']

#off/def rebound percentage

gb2['DRebPct'] = gb2['dreb']/gb2['dra']
gb2['ORebPct'] = gb2['oreb']/gb2['ora']
gb2['_points'] = gb2['fts'] + 2*gb2['2pt'] + 3*gb2['3pt']
gb2['FTPct'] = gb2['fts']/gb2['_points']
gb2['2ptPct'] = gb2['2pt']/gb2['_points']
gb2['3ptPct'] = gb2['3pt']/gb2['_points']
gb2['TO%'] = gb2['tos']/gb2['pace']
gb2['gp'] = gb2['w'] + gb2['l']
gb2['W%'] = gb2['w']/gb2['gp']

def team_ewm(team, span=5, alpha=0.85):
    feature_ewm = team.rolling(window=span, min_periods=1).mean()[:span]
    rest = team[span:]
    return pd.concat([feature_ewm, rest]).ewm(alpha=alpha, adjust=False).mean()


gb2[['5y_DReb','5y_OReb','5y_FTPct','5y_2PT','5y_3PT','5y_TO','5y_Win']] = gb2.groupby(['alt_id'])['DRebPct','ORebPct','FTPct','2ptPct','3ptPct','TO%','W%'].transform(team_ewm)

gb2['id'] = gb2['season'].astype(str)+gb2['alt_id']

gb2 = gb2[['id','5y_DReb','5y_OReb','5y_FTPct','5y_2PT','5y_3PT','5y_TO','5y_Win']]

gb2.head()

,id,5y_DReb,5y_OReb,5y_FTPct,5y_2PT,5y_3PT,5y_TO,5y_Win
607,2012airforce,0.667954,0.178824,0.201543,0.245902,0.102218,0.185194,0.583333
608,2012akron,0.691189,0.263473,0.181062,0.241284,0.112124,0.173085,0.612613
609,2012alabama,0.687447,0.354839,0.186413,0.314598,0.061464,0.204468,0.644381
610,2012alabama-birmingham,0.715464,0.313305,0.173667,0.243983,0.112789,0.185398,0.750000
611,2012alabamaa&m,0.682203,0.289340,0.230642,0.280973,0.069137,0.211494,0.475369

In [12]:
df = df.reset_index(drop=True)
df.head()

,date,id,alt_id,opp_id,game_id,season,win_id,lose_id,points,opp_points,...,free_throws,two_point_field_goals,three_point_field_goals,offensive_rebounds,defensive_rebounds,opp_offensive_rebounds,opp_defensive_rebounds,turnovers,wins,losses
0,2010-11-17,2011airforce,airforce,2011coloradocollege,111710colegeairrce,2011,2011coloradocollege,2011airforce,57,60,...,16,16.0,3.0,5,30,10,26,16,1,1
1,2010-11-24,2011wofford,wofford,2011airforce,112410airrcewoford,2011,2011airforce,2011wofford,66,72,...,12,15.0,8.0,21,24,2,21,18,2,4
2,2011-01-15,2011airforce,airforce,2011unlv,011511unlnlvairrce,2011,2011unlv,2011airforce,52,64,...,12,11.0,6.0,4,20,9,27,9,10,6
3,2011-01-29,2011tcu,tcu,2011airforce,012911airrcetcutcu,2011,2011airforce,2011tcu,65,66,...,7,17.0,8.0,10,26,3,22,14,10,13
4,2011-02-01,2011airforce,airforce,2011newmexico,020111newicoairrce,2011,2011newmexico,2011airforce,61,75,...,7,18.0,6.0,4,14,9,17,16,12,9

In [13]:
# compute vectors for every team at time of each game
df = df.sort_values(by=['date'], ascending=True)

# easy first

# season-to-date avg
df[['ORtg','DRtg','Pace']] = df.groupby(['id'])['offensive_rating','defensive_rating','pace'].shift()

# expanding mean
em = df.groupby(['id'])['ORtg','DRtg','Pace'].expanding().mean().reset_index()

if 'level_1' in list(em):
    em = em.drop(columns=['level_1'])

em.head()

# expanding weighted mean

def team_ewm(team, span=50, alpha=0.65):
    feature_ewm = team.rolling(window=span, min_periods=1).mean()[:span]
    rest = team[span:]
    return pd.concat([feature_ewm, rest]).ewm(alpha=alpha, adjust=False).mean()


ewm = df.groupby(['id'])['ORtg','DRtg','Pace'].apply(team_ewm).reset_index()

if 'level_1' in list(ewm):
    ewm = ewm.drop(columns=['level_1'])

ewm.columns=['id','w_ORtg', 'w_DRtg','w_Pace']

gb3 = pd.concat([em, ewm.drop(columns=['id'])], axis=1)

gb3.columns=['id','Sea_ORtg','Sea_DRtg','Sea_Pace','wSea_ORtg','wSea_DRtg','wSea_Pace']

gb3.head()

,id,Sea_ORtg,Sea_DRtg,Sea_Pace,wSea_ORtg,wSea_DRtg,wSea_Pace
0,2011airforce,NaN,NaN,NaN,NaN,NaN,NaN
1,2011airforce,106.500000,85.500000,61.800000,106.500000,85.500000,61.800000
2,2011airforce,93.950000,85.600000,62.000000,98.342500,85.565000,61.930000
3,2011airforce,103.466667,90.866667,65.133333,101.673208,89.011083,64.012167
4,2011airforce,101.925000,90.450000,65.375000,101.836873,89.946379,64.898008

In [14]:
# now let's do the other

# shift up one
df[['fts','2pt','3pt','oreb','dreb','oor','odr','tos','w','l','Pace']] = df.groupby(['id'])['free_throws','two_point_field_goals','three_point_field_goals','offensive_rebounds','defensive_rebounds','opp_offensive_rebounds','opp_defensive_rebounds','turnovers','wins','losses','pace'].shift()


es = df.groupby(['id'])['fts','2pt','3pt','oreb','dreb','oor','odr','tos','w','l','Pace'].expanding().sum().reset_index()


if 'level_1' in list(es):
    es = es.drop(columns=['level_1'])
    
    
# defensive rebounds available
es['dra'] = es['dreb'] + es['oor']

# offensive rebounds available
es['ora'] = es['oreb'] + es['odr']

#off/def rebound percentage

es['DRebPct'] = es['dreb']/es['dra']
es['ORebPct'] = es['oreb']/es['ora']
es['_points'] = es['fts'] + 2*es['2pt'] + 3*es['3pt']
es['FTPct'] = es['fts']/es['_points']
es['2ptPct'] = es['2pt']/es['_points']
es['3ptPct'] = es['3pt']/es['_points']
es['TO%'] = es['tos']/es['Pace']
es['gp'] = es['w'] + es['l']
es['W%'] = es['w']/es['gp']

es.head()

,id,fts,2pt,3pt,oreb,dreb,oor,odr,tos,w,...,ora,DRebPct,ORebPct,_points,FTPct,2ptPct,3ptPct,TO%,gp,W%
0,2011airforce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011airforce,14.0,14.0,8.0,12.0,25.0,11.0,22.0,12.0,1.0,...,34.0,0.694444,0.352941,66.0,0.212121,0.212121,0.121212,0.194175,1.0,1.000000
2,2011airforce,30.0,30.0,11.0,17.0,55.0,21.0,48.0,28.0,2.0,...,65.0,0.723684,0.261538,123.0,0.243902,0.243902,0.089431,0.225806,3.0,0.666667
3,2011airforce,49.0,55.0,17.0,24.0,79.0,34.0,63.0,44.0,4.0,...,87.0,0.699115,0.275862,210.0,0.233333,0.261905,0.080952,0.225179,6.0,0.666667
4,2011airforce,67.0,73.0,23.0,26.0,100.0,55.0,87.0,59.0,7.0,...,113.0,0.645161,0.230088,282.0,0.237589,0.258865,0.081560,0.225621,10.0,0.700000

In [15]:
# weighted sum

def team_ews(team, span=50, alpha=0.65):
    feature_ewm = team.rolling(window=span, min_periods=1).sum()[:span]
    rest = team[span:]
    return pd.concat([feature_ewm, rest]).ewm(alpha=alpha, adjust=False).mean()


ews = df.groupby(['id'])['fts','2pt','3pt','oreb','dreb','oor','odr','tos','w','l','Pace'].apply(team_ews).reset_index()

if 'level_1' in list(ews):
    ews = ews.drop(columns=['level_1'])
    
    
# defensive rebounds available
ews['dra'] = ews['dreb'] + ews['oor']

# offensive rebounds available
ews['ora'] = ews['oreb'] + ews['odr']

#off/def rebound percentage

ews['DRebPct'] = ews['dreb']/ews['dra']
ews['ORebPct'] = ews['oreb']/ews['ora']
ews['_points'] = ews['fts'] + 2*ews['2pt'] + 3*ews['3pt']
ews['FTPct'] = ews['fts']/ews['_points']
ews['2ptPct'] = ews['2pt']/ews['_points']
ews['3ptPct'] = ews['3pt']/ews['_points']
ews['TO%'] = ews['tos']/ews['Pace']
ews['gp'] = ews['w'] + ews['l']
ews['W%'] = ews['w']/ews['gp']

es = es[['DRebPct','ORebPct','FTPct','2ptPct','3ptPct','TO%','W%']]
ews = ews[['DRebPct','ORebPct','FTPct','2ptPct','3ptPct','TO%','W%']]

es.columns= ['Sea_DReb','Sea_OReb','Sea_FT','Sea_2pt','Sea_3pt','Sea_TO','Sea_W']
ews.columns= ['wSea_DReb','wSea_OReb','wSea_FT','wSea_2pt','wSea_3pt','wSea_TO','wSea_W']

gb3 = pd.concat([gb3, es, ews], axis=1)

gb3.head()

,id,Sea_ORtg,Sea_DRtg,Sea_Pace,wSea_ORtg,wSea_DRtg,wSea_Pace,Sea_DReb,Sea_OReb,Sea_FT,...,Sea_3pt,Sea_TO,Sea_W,wSea_DReb,wSea_OReb,wSea_FT,wSea_2pt,wSea_3pt,wSea_TO,wSea_W
0,2011airforce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011airforce,106.500000,85.500000,61.800000,106.500000,85.500000,61.800000,0.694444,0.352941,0.212121,...,0.121212,0.194175,1.000000,0.694444,0.352941,0.212121,0.212121,0.121212,0.194175,1.000000
2,2011airforce,93.950000,85.600000,62.000000,98.342500,85.565000,61.930000,0.723684,0.261538,0.243902,...,0.089431,0.225806,0.666667,0.717742,0.281625,0.236778,0.236778,0.096555,0.219114,0.717391
3,2011airforce,103.466667,90.866667,65.133333,101.673208,89.011083,64.012167,0.699115,0.275862,0.233333,...,0.080952,0.225179,0.666667,0.703363,0.277309,0.234053,0.256653,0.084213,0.223846,0.675345
4,2011airforce,101.925000,90.450000,65.375000,101.836873,89.946379,64.898008,0.645161,0.230088,0.237589,...,0.081560,0.225621,0.700000,0.659620,0.242582,0.236712,0.258317,0.082218,0.225176,0.695016

In [24]:
from functools import reduce

gbs = [gb3, gb2, gb]

feats = reduce(lambda left,right: pd.merge(left,right,on='id', how='left'), gbs)

In [25]:
feats.head()

,id,Sea_ORtg,Sea_DRtg,Sea_Pace,wSea_ORtg,wSea_DRtg,wSea_Pace,Sea_DReb,Sea_OReb,Sea_FT,...,5y_DReb,5y_OReb,5y_FTPct,5y_2PT,5y_3PT,5y_TO,5y_Win,5y_ORtg,5y_DRtg,5y_Pace
0,2011airforce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011airforce,106.500000,85.500000,61.800000,106.500000,85.500000,61.800000,0.694444,0.352941,0.212121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011airforce,93.950000,85.600000,62.000000,98.342500,85.565000,61.930000,0.723684,0.261538,0.243902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011airforce,103.466667,90.866667,65.133333,101.673208,89.011083,64.012167,0.699115,0.275862,0.233333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011airforce,101.925000,90.450000,65.375000,101.836873,89.946379,64.898008,0.645161,0.230088,0.237589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
print(len(list(feats)))
print(len(feats))
feat_cols = list(feats)
feat_cols.remove('id')
feat_cols.insert(0,'points')
feat_cols.insert(0,'game_id')

31
106368

In [32]:
df = pd.concat([df,feats],axis=1)

In [36]:
ids = df[feat_cols]

team1 = ids.drop_duplicates(subset=['game_id'],keep='first')

team2 = ids.drop_duplicates(subset=['game_id'],keep='first')
print(len(team1))
print(len(team2))

team2

53184
53184

,game_id,points,Sea_ORtg,Sea_DRtg,Sea_Pace,wSea_ORtg,wSea_DRtg,wSea_Pace,Sea_DReb,Sea_OReb,...,5y_DReb,5y_OReb,5y_FTPct,5y_2PT,5y_3PT,5y_TO,5y_Win,5y_ORtg,5y_DRtg,5y_Pace
0,111710colegeairrce,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,112410airrcewoford,66,106.500000,85.500000,61.800000,106.500000,85.500000,61.800000,0.694444,0.352941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,011511unlnlvairrce,52,93.950000,85.600000,62.000000,98.342500,85.565000,61.930000,0.723684,0.261538,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,012911airrcetcutcu,65,103.466667,90.866667,65.133333,101.673208,89.011083,64.012167,0.699115,0.275862,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,020111newicoairrce,61,101.925000,90.450000,65.375000,101.836873,89.946379,64.898008,0.645161,0.230088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,020511airrceutatah,49,102.120000,90.360000,66.400000,102.020906,90.215233,65.874303,0.620000,0.204225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,020911byubyuairrce,52,101.200000,91.116667,65.166667,101.487317,90.801165,65.414339,0.627193,0.185629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,021911sanateairrce,58,100.357143,95.071429,65.000000,100.752704,93.576836,65.145019,0.635294,0.178771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,112410cleateakrron,51,100.850000,93.187500,65.625000,100.815946,93.323768,65.457007,0.657534,0.193237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,120110akrrondetoit,69,101.311111,92.466667,64.988889,101.137803,92.766652,65.152730,0.671827,0.199153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,120410akrronuicuic,52,101.510000,95.350000,64.550000,101.379731,94.445828,64.760956,0.669565,0.207407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,122110akrronlitock,61,103.081818,95.918182,64.500000,102.486088,95.402858,64.591334,0.668435,0.208191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,011211ohihioakrron,70,101.416667,97.025000,64.566667,101.790964,96.457250,64.575300,0.675743,0.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,020511akrrontoledo,41,103.200000,95.238462,64.615385,102.706837,95.665038,64.601355,0.675737,0.214286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,021511akrronbowate,54,105.478571,97.085714,64.071429,104.508465,96.588477,64.256903,0.673036,0.226415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,031011akrronmiaoh),75,104.920000,98.066667,64.313333,104.775963,97.549300,64.293583,0.668651,0.219144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,031111akrronwesgan,68,104.062500,98.956250,63.850000,104.312212,98.463818,64.005254,0.669794,0.212617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,031211akrronkenate,65,103.935294,100.541176,63.282353,104.067215,99.814101,63.535368,0.659574,0.211111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,031811notameakrron,56,104.827778,99.677778,63.072222,104.561581,99.725491,63.234323,0.660000,0.206823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,120710tenatealaa&m,68,104.826316,100.194737,63.042105,104.733659,100.030501,63.109382,0.660287,0.208589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,010611jacatealaa&m,55,104.585000,100.110000,62.820000,104.637031,100.082175,62.921284,0.661608,0.202703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,010811alaa&mmisate,60,104.528571,101.395238,62.642857,104.566532,100.935666,62.740306,0.659824,0.202226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,013111alaa&mpraiew,53,103.936364,100.563636,62.459091,104.156923,100.693847,62.557516,0.668547,0.203478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,020511misatealaa&m,60,102.556522,101.626087,62.852174,103.116662,101.299803,62.749044,0.672578,0.200326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,021911alaa&malcate,68,101.062500,100.633333,62.841667,101.781457,100.866598,62.809249,0.677165,0.193448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,022111alaa&msouern,45,100.644000,100.984000,62.872000,101.042110,100.942909,62.850037,0.667500,0.189911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,022611texernalaa&m,78,100.123077,100.561538,63.153846,100.444738,100.695018,63.047513,0.670251,0.190544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,111710alahammidsee,71,100.444444,99.940741,63.348148,100.444547,100.204738,63.242926,0.668942,0.187240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,112610alahamarksas,65,100.889286,100.114286,63.289286,100.733627,100.145944,63.273060,0.669967,0.183400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,112910alahamtroroy,57,100.917241,100.455172,63.162069,100.852976,100.346942,63.200916,0.668090,0.181935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53154,012219virniawakest,68,101.233333,86.625000,66.600000,100.610958,86.911013,66.132162,0.729508,0.297619,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53155,111318wagnersunand,90,103.630769,86.461538,66.946154,102.573835,86.618854,66.661257,0.734177,0.307479,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53156,120918wagnernewlle,105,103.164286,86.914286,66.571429,102.957628,86.810885,66.602868,0.724299,0.302564,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53157,112718wakestwesina,71,103.046667,85.853333,66.740000,103.015503,86.188476,66.692004,0.729437,0.295238,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53158,010519wastonwasate,85,104.143750,84.950000,66.537500,103.748864,85.383467,66.591576,0.730159,0.304251,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53159,110618wastonwescky,73,103.800000,83.941176,66.064706,103.782102,84.445978,66.249111,0.732075,0.299786,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53160,110918webatebetca),123,103.161111,84.066667,66.011111,103.378458,84.199426,66.094411,0.734657,0.300000,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53161,112718webatebenine,100,102.436842,83.789474,66.036842,102.766408,83.932957,66.056991,0.728669,0.293006,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53162,120118wesniayouate,106,103.210000,85.345000,66.110000,103.054743,84.850785,66.091447,0.733871,0.302120,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53163,110718wriatewesina,96,102.452381,85.361905,65.947619,102.663208,85.183013,65.997959,0.728244,0.302521,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53164,111718wesinahiwsee,94,102.418182,86.263636,65.581818,102.503941,85.885418,65.727467,0.727273,0.299035,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53165,020919wofordwesina,83,103.400000,85.260870,65.669565,103.086379,85.479462,65.689831,0.735978,0.303876,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53166,111018wesoisnorark,84,103.408333,84.983333,65.279167,103.295649,85.156978,65.422899,0.738502,0.303438,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53167,111418wesoisdomil),95,103.832000,85.164000,64.948000,103.644277,85.161542,65.114215,0.731156,0.304790,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53168,122918wesckywissin,83,104.226923,84.773077,64.903846,104.022997,84.909040,64.977475,0.737981,0.305322,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53169,111718wesganaqunas,99,105.011111,85.337037,64.700000,104.665271,85.187238,64.797116,0.737819,0.308943,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53170,121618wilarypeaace,106,106.110714,85.592857,64.292857,105.604809,85.450890,64.469348,0.732884,0.313492,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53171,111318winroppfefer,134,105.955172,85.410345,64.168966,105.832545,85.424536,64.274099,0.732258,0.308880,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53172,112418winropwarson,116,106.193333,85.733333,64.060000,106.067058,85.625254,64.134935,0.733820,0.307403,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53173,121618winrophiwsee,109,106.790323,84.867742,64.351613,106.537180,85.132871,64.275776,0.738119,0.307317,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53174,111318wofordcarble,94,106.421875,85.496875,64.218750,106.462232,85.369474,64.238709,0.738189,0.304245,...,0.692132,0.304750,0.230956,0.257817,0.084470,0.206803,0.591517,102.156423,91.918810,67.799006
53175,112318wofordmarill,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.616011,0.234042,0.174285,0.244885,0.111982,0.234007,NaN,NaN,NaN,NaN
53176,120618wofordkenian,112,86.200000,105.300000,93.600000,86.200000,105.300000,93.600000,0.606061,0.256410,...,0.616011,0.234042,0.174285,0.244885,0.111982,0.234007,NaN,NaN,NaN,NaN
53177,112718wriatecedlle,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.714595,0.272989,0.214913,0.257362,0.090121,0.189095,0.462841,98.821718,99.080224,69.281866
53178,121318wriatenorhio,91,78.800000,97.000000,66.500000,78.800000,97.000000,66.500000,0.750000,0.103448,...,0.714595,0.272989,0.214913,0.257362,0.090121,0.189095,0.462841,98.821718,99.080224,69.281866
53179,022319wriateyouate,82,94.450000,76.750000,67.750000,88.972500,83.837500,67.312500,0.750000,0.225806,...,0.714595,0.272989,0.214913,0.257362,0.090121,0.189095,0.462841,98.821718,99.080224,69.281866
53180,122918wyoingdixate,65,97.733333,86.900000,68.233333,94.667042,85.828125,67.911042,0.738636,0.261364,...,0.714595,0.272989,0.214913,0.257362,0.090121,0.189095,0.462841,98.821718,99.080224,69.281866
53181,010819yalaleskiore,88,98.975000,88.475000,69.300000,97.467215,87.548594,68.813865,0.743802,0.264000,...,0.714595,0.272989,0.214913,0.257362,0.090121,0.189095,0.462841,98.821718,99.080224,69.281866
53182,111218youateheierg,106,94.320000,96.500000,69.460000,95.421525,93.367008,69.233853,0.735714,0.232704,...,0.714595,0.272989,0.214913,0.257362,0.090121,0.189095,0.462841,98.821718,99.080224,69.281866
53183,112118youatewester,104,93.300000,99.533333,69.283333,94.042534,97.375119,69.266015,0.736842,0.239583,...,0.714595,0.272989,0.214913,0.257362,0.090121,0.189095,0.462841,98.821718,99.080224,69.281866